@import '../../../styles/variables.less';

.search-questions {
  &-list {
    padding: 0;
  }
}

.question-header {
  display: block;
  position: relative;
  cursor: pointer;
  padding: @indent;
  padding-bottom: @indent - @indent-text;
  border-bottom: @border-bt;

  [data-answer-exists="yes"] {
    background-color: lighten(@color-green, 20%);
  }
  [data-answer-exists="no"] {
    background-color: lighten(@color-red, 20%)
  }
  &-title {
    display: block;
    font-size: 1.2rem;
    color: @text-color;
    margin-right: 75px;
  }

  &-keywords {
    margin-top: @indent - @indent-text;
  }

  &:hover &-title {
    text-decoration: underline;
  }
}

.question-info {
  padding: @indent;
}
