<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>QUA</title>
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="stylesheet" href="../../static/ui/reset_password.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header-wrap">
        <div class="header-brand">
          <img src="" alt="" class="header-logo">
          <a href="/">
            <span class="header-name">QUA</span>
          </a>
        </div>
      </div>
    </header>
    <div class="wrapper-resize">
      <div class="content">
        <div class="area reset-pw">
          <div class="reset-pw-align">
            <h1 class="title">Сброс пароля</h1>
            <form class="reset-pw-form">
              <span class="text">Логин: пидор</span>
              <input class="inp" name="" type="password" placeholder="Новый пароль" required>
              <input class="inp" name="" type="password" placeholder="Еще раз новый пароль" required>
              <button class="btn">Сбросить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-area">
        <p class="footer-creators">
          Сделали <a href="https://github.com/Dexig">Олег</a> и <a href="https://github.com/Sapunov">Никита</a>
        </p>
        <p class="footer-version">Версия 1.0.0</p>
      </div>
    </footer>
  </div>
</body>
</html>
