<form
  *ngIf="!sfHide"
  class="search-field"
  (ngSubmit)="getResults(query)"
  (document:click)="clearSuggests($event)"
  #searchForm="ngForm">
  <i class="fa fa-search search-field-icon" *ngIf="!query"></i>
  <i class="fa fa-times search-field-icon search-field-icon-clear" *ngIf="query" (click)="clearQuery()"></i>
  <input
    #inputSearch
    name="searchField"
    class="search-field-input"
    type="text"
    placeholder="Поиск"
    [(ngModel)] = "query"
    (keyup)="keyup($event)"
    (keyup.enter)="getResults(query)"
    (click)="getSuggests(query)"
    autocomplete="off"
    autofocus/>
    <span class="search-field-info">
      <span *ngIf="searchInfo" class="search-field-info-max">Результатов найдено: {{searchInfo.total}} ({{searchInfo.took}} сек.)</span>
      <span *ngIf="searchInfo" class="search-field-info-min">{{searchInfo.total}}</span>
    </span>
    <ul class="search-field-suggests" *ngIf="suggests.length">
      <li
      [class.selected]="isSelected(i)"
      *ngFor="let suggest of suggests; let i = index"
      (mouseenter)="onMouseenter(i)"
      (click)="useSuggest(suggest)">{{suggest.text}}</li>
    </ul>
</form>
