@import '../../styles/variables.less';

@indent-text: 5px;

.search-category {
  &-header {
    &-text {
      font-size: 1.2rem;
      font-weight: normal;
      margin: 0;
    }
  }

  &-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    margin-top: @indent;

    &-inp {
      flex: 2 1 auto;
      margin-bottom: 0;
    }

    &-btn {
      line-height: 1;
      margin-left: @indent;
    }
  }
}

.category {
  padding: 0;
  position: relative;

  &-title,
  &-info {
    padding: @indent;
  }

  &-title {
    border-bottom: @border-bt;
    &-text {
      font-size: 1.1rem;
    }
  }

  &-edit {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    &-inp {
      margin: 0;
    }

    &-btn {
      cursor: pointer;
      margin-left: @indent - 10px;

      &:last-child {
        background-color: @color-red;
      }
    }
  }

  .control-block {
    transform: translate(58px);

    &:hover {
      transform: translate(0);
    }
  }
  .control-delete:after {
      content: 'Удалить';
  }
}

.isEdit {
  cursor: pointer;
}
