<div class="app-block search-category">
  <header class="search-category-header">
    <h1>Добавьте категории, чтобы было удобнее искать!</h1>
  </header>
  <form class="search-category-form" (ngSubmit)="add(inpCat.value)" #addForm="ngForm">
    <input class="input-st" type="text" placeholder="Имя категории" #inpCat required>
    <button class="button-blue" type="submit">Добавить</button>
  </form>
</div>
<div class="categories-block" *ngIf="categories">
    <div class="app-block category" *ngFor="let category of categories">
      <div class="category-control">
        <button class="control-delete" (click)="delete(category.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div class="category-title" (click)="edit(category)" [ngClass]="{ 'isEdit': !category.isEdit }">
        <span *ngIf="!category.isEdit">{{ category.name }}</span>
        <div class="category-edit" *ngIf="category.isEdit">
          <input class="input-st category-edit-inp" type="text" [(ngModel)]="category.name">
          <button class="button-blue category-edit-btn" type="button" (click)="update($event, category)">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
          <button class="button-blue category-edit-btn" type="button" (click)="cancel($event, category)">
            <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="category-info">
        <div class="category-info-users">
          <div class="info-text">
            <i class="fa fa-user"></i>
            <span>Создал:</span>
            <span>{{ category.created_by.first_name }}</span>
            <span>{{ category.created_by.last_name }}</span>
          </div>
          <div class="info-text">
            <i class="fa fa-user"></i>
            <span>Изменил:</span>
            <span>{{ category.updated_by.first_name }}</span>
            <span>{{ category.updated_by.last_name }}</span>
          </div>
        </div>
        <div class="category-info-data">
          <div class="info-text">
            <i class="fa fa-clock-o"></i>
            <span>Дата:</span>
            <span>{{ category.created_at | date:'short' }}</span>
          </div>
          <div class="info-text">
            <i class="fa fa-clock-o"></i>
            <span>Дата изменения:</span>
            <span>{{ category.updated_at | date:'short' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
