@box-shadow: 0 0 0 1px rgba(193,201,209,.65);
@box-shadow-2:  0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
@border: 1px solid #d3d9de;
@border-bt: 1px solid #e7e8ec;
@border-radius: 2px;
@bg-color: #EDEEF0;
@bg-color-2: white;
@main-color: #507299;
@text-color: #2a5885;
@text-color-2: white;
@text-color-bl: #2b2f33;
@keyword-color: #43A047;
@color-green: #43A047;
@color-red: #D32F2F;
@indent: 15px;
@width-content: 700px;
