@import '../../../styles/variables.less';

.error {
  width: 100%;
  &-popup {
    border-radius: @border-radius;
    margin-bottom: @indent;
    padding: @indent;
    border: 1px solid @color-error-border;
    background-color: @color-error;
  }
}
