/* You can add global styles to this file, and also import other style files */
@import '../node_modules/simplemde/dist/simplemde.min.css';
@import '../node_modules/normalize.css/normalize.css';
@import './styles/font-awesome.less';
@import './styles/variables.less';


/* Global */

html,
body,
app-root {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.154;
  background-color: @bg-color;
}

button {
  border: 0;
  outline: 0;
}

h1,
h2 {
  color: @text-color-bl;
}

.categories-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;

  &-category,
  &-title {
    margin-top: @indent - 10px;
    margin-right: @indent - 10px;
  }

  &-title:first-child {
    text-decoration: underline;
  }

  &-category {
    border-radius: @border-radius;
    background-color: @bg-color;
  }
}


.keywords {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;

  &-keyword {
    margin-top: @indent - 10px;
    border-radius: @border-radius;
    padding: 4px;
    color: @text-color-2;
    background-color: @keyword-color;

    &:not(:last-child) {
      margin-right: @indent - 10px;;
    }
  }
}

.button-blue {
  padding: 7px 16px;
  background-color: @main-color;
  color: @text-color-2;
  cursor: pointer;
  border-radius: @border-radius;

  &:active {
    padding-top: 8px;
    padding-bottom: 6px;
    background-color: lighten(@main-color, 5%);
  }
}

.input-st {
  font-size: 1.05rem;
  margin-bottom: @indent;
  padding: 6px 12px;
  border: @border;
  border-radius: @border-radius;
  outline: none;
  background-color: @bg-color-2;
}

.app-block {
  margin-top: @indent;
  padding: @indent;
  background-color: @bg-color-2;
  border-radius: @border-radius;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  box-shadow: @box-shadow-2;
}

app-search,
app-search-add,
app-search-question,
app-search-result,
app-search-category,
app-markdown,
app-header,
app-footer,
app-auth,
app-root {
  display: block;
}
