<ng-progress
  [positionUsing]="'margin'"
  [minimum]="0.15"
  [ease]="'linear'"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'white'"
  [trickleSpeed]="250"
  [thick]="true"
></ng-progress>
<div class="wrapper">
  <app-header [isAuth]="isAuth"></app-header>
  <div class="wrapper-resize">
    <div class="app-content" >
      <app-search [sfHide]="sfHide" [focusOnSf]="focusOnSf"></app-search>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
  <app-footer class="app-footer"></app-footer>
  <app-error class="app-error"></app-error>
</div>
