<div class="search-questions" *ngIf="questions">
  <div class="app-block search-questions-list" *ngFor="let question of questions">
    <header>
      <a class="question-header" (click)="getQuestion(question.id)">
        <span class="question-header-badge" data-answer-exists="yes" *ngIf="question.answer_exists">Есть ответ</span>
        <span class="question-header-badge" data-answer-exists="no" *ngIf="!question.answer_exists">Без ответа</span>
        <span class="question-header-title">{{ question.title }}</span>
        <div *ngIf="question.keywords.length" class="question-header-keywords keywords">
          <span class="keywords-keyword" *ngFor="let keyword of question.keywords">{{ keyword }}</span>
        </div>
      </a>
    </header>
    <div class="question-info info">
      <div class="question-info-creator info-text">
        <i class="fa fa-user"></i>
        <span>{{question.created_by.first_name}}</span>
        <span>{{question.created_by.last_name}}</span>
      </div>
      <div class="question-info-data info-text">
        <i class="fa fa-clock-o"></i>
        <span>{{question.created_at | date:'dd.MM.yyyy HH:mm'}}</span>
      </div>
    </div>
  </div>
</div>

