<form class=" app-block auth" (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" >
  <h1 class="auth-title">Вход в Qua</h1>
  <div class="auth-block">
    <input
      #inputUsername
      [(ngModel)]="username"
      name="username"
      class="input-st auth-input"
      type="text"
      placeholder="Логин"
      required
      autofocus>
    <input
      [(ngModel)]="password"
      name="password"
      class="input-st auth-input"
      type="password"
      placeholder="Пароль"
      required>
    <div class="auth-control">
      <button class="button-blue auth-button" type="submit" [disabled]="loading">Войти</button>
      <i *ngIf="loading" class="fa fa-refresh loader"></i>
    </div>
  </div>
</form>
