<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Приглашение в QUA</title>
</head>
<body>
    <h2>Здравствуйте!</h2>
    <p>Это письмо является приглашением в систему корпоративного поиска QUA.</p>
    <p>У вас уже есть аккаунт. Осталось установить для него пароль.
        Перейдите, пожалуйста, по ссылке ниже чтобы сделать это.
    </p>
    <p>Ссылка для установки нового пароля: <a href="{{ reset_password_link }}">{{ reset_password_link }}</a></p>
</body>
</html>
