@import '../../styles/variables.less';

@indent-text: 5px;

.search-result {
  &-hit {
    padding: 0;
  }
  &-empty {
    flex-flow: row wrap;
  }
}

.hit-header {
  display: block;
  cursor: pointer;
  padding: @indent;
  border-bottom: @border-bt;

  &-title {
    display: block;
    font-size: 1.1rem;
    color: @text-color;
  }

  &:hover &-title {
    text-decoration: underline;
  }
}

.hit-snippet {
  padding: @indent;
}

.empty {
  &-button {
    margin-top: @indent;
  }
  &-title {
    margin: 0;
    flex: 0 100%;
    font-size: 1.1rem;
    font-weight: normal;
  }
}
