<div class=" app-block search-add">
  <h1 class="search-add-title">Добавить вопрос</h1>
  <form class="search-add-form form" (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">
    <input
      #inputTitle
      name="title"
      maxlength="300"
      class="app-block-elem input-st form-input"
      type="text"
      placeholder="Текст вопроса"
      [(ngModel)] = "title"
      required
      autofocus/>
    <div class="app-block-elem form-keywords">
      <form class="form-keywords-control" (ngSubmit)="addKeyword(); keywordForm.reset()" #keywordForm="ngForm">
        <label class="form-keywords-control-area" for="keyword">
            <span class="form-keywords-keyword keywords-keyword" *ngFor="let kw of keywords">{{ kw }}
              <i class="fa fa-times" (click)="delKeyword(kw)"></i></span>
          <input id="keyword" name="keyword" class="input-st" type="text" placeholder="Ключевое словое" [(ngModel)]="keyword" required>
        </label>
        <button class="button-blue" type="submit">Добавить</button>
      </form>
    </div>
    <app-markdown class="app-block-elem form-textarea" #md [raw]="answer.raw"></app-markdown>
    <div class="form-control">
      <button class="button-blue form-control-submit" type="submit" [disabled]="loading">Сохранить</button>
      <i *ngIf="loading" class="fa fa-refresh loader"></i>
    </div>
  </form>
</div>
