<div class=" app-block search-add">
  <h1 class="search-add-title">Добавить вопрос</h1>
  <form class="search-add-form form" (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">
    <input
      #inputTitle
      name="title"
      maxlength="300"
      class="app-block-elem input-st form-input"
      type="text"
      placeholder="Текст вопроса"
      [(ngModel)] = "title"
      required
      autofocus/>
    <!--<div class="app-block-elem form-categories">
      <div class="form-categories-control">
        <select class="input-st" #inpCategory>
          <option value="{{i}}" *ngFor="let category of allCategories; let i = index">{{category.name}}</option>
        </select>
        <button class="button-blue" type="button" (click)="addCategory(inpCategory.value)">Добавить</button>
      </div>
      <div class="categories-list form-categories-list ">
        <span class="categories-list-category form-categories-category" *ngFor="let category of categories; let i = index">{{ category.name }}
          <i class="fa fa-times" (click)="delCategory(i)"></i></span>
      </div>
    </div>-->
    <div class="app-block-elem form-keywords">
      <form class="form-keywords-control" (ngSubmit)="addKeyword(keywordForm); keywordForm.reset()" #keywordForm="ngForm">
        <input name="keyword" class="input-st" type="text" placeholder="Ключевое словое" [(ngModel)]="keyword" required>
        <button class="button-blue" type="submit">Добавить</button>
      </form>
      <div class="form-keywords-list keywords">
        <span class="form-keywords-keyword keywords-keyword" *ngFor="let keyword of keywords; let i = index">{{ keyword }}
          <i class="fa fa-times" (click)="delKeyword(i)"></i></span>
      </div>
    </div>
    <app-markdown class="app-block-elem form-textarea" #md [raw]="answer.raw"></app-markdown>
    <div class="form-control">
      <button class="button-blue form-control-submit" type="submit" [disabled]="loading">Сохранить</button>
      <i *ngIf="loading" class="fa fa-refresh loader"></i>
    </div>
  </form>
</div>
