<form *ngIf="!sfHide" class="search-field" (ngSubmit)="getResults(query)" #searchForm="ngForm">
  <i class="fa fa-search search-field-icon"></i>
  <input
    #inputSearch
    name="searchField"
    class="search-field-input"
    type="text"
    placeholder="Поиск"
    [(ngModel)] = "query"
    (keyup)="keyup($event)"
    autofocus/>
    <span *ngIf="searchInfo" class="search-field-info search-field-info-max">Результатов найдено: {{searchInfo.total}} ({{searchInfo.took}} сек.)</span>
    <span *ngIf="searchInfo" class="search-field-info search-field-info-min">{{searchInfo.total}}</span>
</form>
