@import '../../../styles/variables.less';

.search-field {
  overflow: hidden;
  margin-top: @indent;
  background-color: @bg-color-2;
  border-radius: @border-radius;
  padding: @indent;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  box-shadow: @box-shadow;
  justify-content: space-between;

  &-input {
    border: 0;
    flex-grow: 2;
    outline: 0;
    padding: 0;
    font-size: 1.2rem;
    margin-left: @indent;
    background-color: @bg-color-2;
  }

  &-icon {
    font-size: 1.1rem;
    color: #95A4BD;
    line-height: 1.3;
  }

  &-info {
    display: block;
    font-size: 0.8rem;
    color: @color-meta;
    &-max,
    &-min {
      vertical-align: middle;
    }
    &-max {
      @media (max-width: @width-content-media) {
        display: none;
      }
    }

    &-min {
      display: none;
      @media (max-width: @width-content-media) {
        display: inline;
      }
    }
  }

}

