<ng-progress
  [positionUsing]="'translate'"
  [ease]="'linear'"
  [minimum]="0.28"
  [speed]="140"
  [trickleSpeed]="300"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'white'"
  [thick]="true"
></ng-progress>
<div class="wrapper">
  <app-header [isAuth]="isAuth"></app-header>
  <div class="wrapper-resize">
    <div class="app-content" >
      <app-search [sfHide]="sfHide" [focusOnSf]="focusOnSf"></app-search>
      <app-error class="app-error"></app-error>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
  <app-footer class="app-footer"></app-footer>
</div>
